# ----------------------
# Dependências & Logs
# ----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------
# Sistema Operacional & Editor
# ----------------------
.DS_Store
Thumbs.db
.vscode/settings.json

# ----------------------
# Segurança & Variáveis de Ambiente
# ----------------------
.env
.env.dev
.env.*local
.env.test
envs/.env.*
!envs/.env.example

# ----------------------
# Artefatos de Teste & Relatórios
# ----------------------
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results/
allure-report/